@media print, (max-width: 767px) {

    :root {
        --font_size: 15px;
        --font_size_title: 22px;
    }

    header .mob_menu_btn {
        display: flex;
        order: 1;
    }
    header .cont {
        padding: 0;
    }
    header .menu {
        position: fixed;
        z-index: 107;
        top: 74px;
        left: 0;
        display: flex;
        overflow: auto;
        width: 100%;
        height: 100%;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        margin: 0;
        padding: 0px 20px 30px;
        transition: transform .3s linear;
        transform: translateX(-100%);
        background: #fff;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;        
    }
    header .menu.show {
        transform: translateX(0);
    }
    .menu_open header .mob_menu_btn{
        display: none;
    }
    .menu_open header .close_btn {
        display: flex;
    }
    header .menu .item {
        width: 100%;
    }
    header .menu .item + .item {
        margin-left: 0;
    }
    .mob_menu_btn span {
        position: relative;
        display: block;
        width: 30px;
        height: 2px;
        transition: background .2s linear;
        background: #000; 
    }
    .mob_menu_btn span:before, 
    .mob_menu_btn span:after {
        position: absolute;
        top: -8px;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        content: '';
        transition: .2s linear;
        background: #000;
    }
    .mob_menu_btn span:after {
        top: 8px;
    }
    .mob_menu_btn.active span {
        background: transparent;
    }
    .mob_menu_btn.active span:before {
        top: 0;
        transform: rotate(45deg);
    }
    .mob_menu_btn.active span:after {
        top: 0;
        transform: rotate(-45deg);
    }
    header {        
        height: 74px;
        padding: 18px 20px 23px;
        border-bottom: 1px solid #F5F5F5;
    }
    header .logo-mob {
        display: block;
        margin-right: 20px;  
        padding-right: 10px;
        border-right: 1px solid #EFEFEF;     
    }
    .header-phone {
        margin-right: 30px;
        margin-left: auto;
        color: #4B4B4B;
    }
    header .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header .menu .item {
        margin-right: 0;
    }
    header .menu .item a {
        display: block;
        text-align: center;
    }
    .header-phone_mob {
        display: block;
        padding: 23px 0 24px;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #262626;
        text-decoration: none;
    }
    header .menu .first-section_btn-mob {
        display: flex;
        width: 335px;
    }
    header .menu .item > a {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #262626;
        padding: 15px 0 14px;
        border-bottom: 1px solid #F5F5F5;
    }


    .footer_right {
        flex-direction: column;
        align-items: flex-start;
    }
    .footer_item-text br {
        display: none;
    }
    .footer_item {
        margin-right: 0px;
        padding: 11px 0 15px;
        border-bottom: 1px solid #ECEEF0;
        width: 100%;
    }
    .footer_item:last-child {
        border-bottom: none;
    }
    .footer_left {
        margin-bottom: 0px;
        margin-right: 0;
        padding-bottom: 14px;
        border-bottom: 1px solid #ECEEF0;
    }
    footer {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .first-section_title {
        display: none;
    }
    .first-section_img img {
        border-radius: 160px 4px 4px 4px;
    }
    .direction_items > * {
        width: 100%;
        margin-left: 0;
        margin-bottom: 0;
        padding-top: 17px;
        padding-bottom: 13px;
        border-bottom: 1px solid #F5F5F5;
    }
    .direction_items {
        margin-left: 0px;
    }
    .about_img img {
        border-radius: 4px 160px 4px 4px;
    }
    .method_img img {
        border-radius: 4px 160px 4px 4px;
    }
    .consultations_items > * {
        margin-left: 0px;
        width: 100%;
        border-radius: 4px;
       padding: 11px 30px 15px;
       margin-bottom: 20px;
    }
    .consultations_items {
        margin-left: 0;
    }
    .price_items {
        margin-left: 0;
    }
    .price_items > * {
        margin-left: 0px;
        width: 100%;
        padding: 25px 26px 34px;
        margin-bottom: 20px;
    }
    .price_item-val {
        margin-bottom: 0;
        font-size: 28px;
    }
    .contacts_wrap {
        flex-direction: column-reverse;
    }
    .map_wrap {
        width: 100%;
        margin-top: 0;
        height: 340px;
    }
    .contacts_info {
        max-width: 100%;
    }
    .contacts_item-text br {
        display: none;
    }
    .contacts_item-box {
        display: flex;
    }
    .contacts_item-text {
        margin-left: 6px;
        line-height: 150%;
    }
    .contacts_item-title {
        line-height: 150%;
    }
    .contacts_item:nth-child(2) {
        display: flex;
    }
    .contacts_item:nth-child(3) .contacts_item-text {
        margin-left: 0;
    }
    .title {
        margin-bottom: 20px;
    }
    .direction {
        margin-bottom: 30px;
    }
    .about {
        margin-bottom: 30px;
    }
    .method {
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
    .consultations {
        margin-bottom: 30px;
    }
    .price {
        margin-bottom: 30px;
    }
    .contacts {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .first-section_text {
        font-size: 19px;
        margin-bottom: 25px;
    }
    .first-section {
        margin-top: 30px;
        padding-top: 75px;
        padding-bottom: 38px;
        margin-bottom: 30px;
    }
    .direction_item-title {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 8px;
    }
    .direction_item:first-child {
        padding-top: 0;
    }
    .about blockquote br {
        display: none;
    }
    .about blockquote {
        font-size: 16px;
        margin-bottom: 13px;
    }
    .method_subtitle {
        font-size: 19px;
        line-height: 127%;
    }
    .consultations_item-stage {
        font-size: 20px;
    }
    .consultations_item-title {
        font-size: 20px;
        line-height: 1.25;
        margin-bottom: 10px;
    }
    .consultations_item:last-child {
        margin-bottom: 0;
    }
    .price_item-title {
        font-size: 20px;
        line-height: 130%;
        margin-bottom: 5px;
    }
    .price_item-text {
        font-size: 20px;
        line-height: 130%;
        padding-bottom: 12px;
    }
    .price_item-val {
        padding-top: 12px;
        font-size: 28px;
        line-height: 150%;
        margin-bottom: 11px;
    }
    .fancybox-slide--html {
        padding: 10px;
    }
    .contacts_item:last-child {
        padding-bottom: 0px;
        margin-bottom: 0px;
        border-bottom: none;
    }

    .page header .logo-mob {
        border-right: none;
    }
    .posts_item {
        flex-direction: column;
    }
    .posts_item-info {
        margin-left: 0px;
        max-width: 100%;
    }
    .posts_item-img {
        width: 100%;
    }
    .posts_item-title {
        font-size: 20px;
        line-height: 1.38;
        margin-bottom: 10px;
        margin-top: 13px;
    }
    .posts_item {
        margin-bottom: 30px;
    }
    .posts_item-text {
        margin-bottom: 10px;
    }

    .text_block h1 {
        font-size: 20px;
        line-height: 138%;
        margin-bottom: 20px;
    }
    .text_block img {
        height: 180px;
    }
    .text_block p {
        margin-top: 20px;
    }
    .text_block h2 {
        font-size: 19px;
        line-height: 138%;
        margin-top: 30px;
    }
    .post_link a + a {
        margin-left: 15px;
    }
    .post_link {
        justify-content: space-between;
        margin-top: 25px;
    }
    .post {
        margin-bottom: 40px;
    }






}
